h1{
font-size: 30px;
text-align: center;
color: #674188
}
h2{
   
  color: yellow; /* Code couleur pour le jaune */
  text-align: center;
}
h3 {
  color: #ff1493; /* Code couleur pour le rose foncé */
text-align: center;
    font-weight: bold;
}
p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
color: turquoise; 
}
img{
text-align: center;
}
body {
background-color: #C3ACD0;
       
}
.centered-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh; /* Ajustez la hauteur en fonction de vos besoins */
    }
